.item-container {
    background-color: #DEB992;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    padding: 1%;

}