.NavBar {
    background-color: #DEB992;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: none;
    padding: 1rem 5rem;
    background-color: #DEB992;
    position: sticky;
    top: 0;
    z-index: 300;
}


.Brand {
    font-family: fantasy;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: xx-large;
    color:black;
}